<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top navbar-bg p-0 navbar-bg--has-nav">
    <div class="bg-primary-blue topbar">
      <div class="container d-flex justify-content-between h-100 align-items-center">
        <h4 class="f-18 text-white m-0">Social Analytics</h4>
      </div>
    </div>
    <div class="container">
      <div>
      
        <ul class="nav nav--lg">
          <li class="nav__item" [routerLink]="['/home']">
            <span>Tweets</span>
          </li>
          <li class="nav__item" [routerLink]="['/stocks']">
            <span>Stocks</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
